<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PMAW"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".kisanyojna.BeneficiaryListKisan"
            android:exported="false" />
        <activity
            android:name=".kisanyojna.KisanYojna"
            android:exported="false" />
        <activity
            android:name=".awasyojna.AwasTrackUrban"
            android:exported="false" />
        <activity
            android:name=".awasyojna.AwasNewRegUrban"
            android:exported="false" />
        <activity
            android:name=".awasyojna.AwasUrbanList"
            android:exported="false" />
        <activity
            android:name=".awasyojna.AwasYojnaList"
            android:exported="false" />
        <activity
            android:name=".awasyojna.AwasYojna"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".Khatauni"
            android:exported="false" />
        <activity
            android:name=".kisanyojna.NewRegisKisan"
            android:exported="true" />
        <activity
            android:name=".kisanyojna.Ekyc"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:theme="@style/AbTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
    </application>

</manifest>